---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Email from "../components/icons/Email.astro";
import SocialPill from "../components/SocialPill.astro";
import Tecnologias from "../components/Tecnologias.astro";
---

<Layout
	title="Portafolio de Franco"
	description="Desarrollador Web en busca de trabajo"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full w-14 h-21 mb-4"
				src="https://i.postimg.cc/5yRdvJHJ/Dise-o-sin-t-tulo.png"
				alt="Foto franco"
			/>
			<h1
				class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola, soy Franco <div class="flex justify-center items-center">
					<Badge>En busca de residencias profesionales</Badge>
				</div>
			</h1>
			<h2 class="text-2xl opacity-80">
				Estudiante de 8vo semestre de la

				<span class="text-blue-300/90"
					>Ingeniería en Sistemas Computacionales</span
				> en el <span class="text-green-300/90"
					>Tecnológico Nacional de México en Celaya</span
				>
			</h2>

			<nav class="flex gap-x-5 mt-8">
				<SocialPill href="https://www.linkedin.com/in/franqz">
					<LinkedIn class="size-6" />
					 Linkedin
				</SocialPill>

				<SocialPill href="https://github.com/Frannqz">
					<GitHub class="size-6" />
					 GitHub
				</SocialPill>

				<SocialPill href="https://github.com/Frannqz">
					<Email class="size-6" />
					 franqzdev@gmail.com
				</SocialPill>
			</nav>

			<Tecnologias />
		</SectionContainer>
	</main>
</Layout>
