---
import ExperienciaBase from "./ExperienciaBase.astro";
const EXPERIENCIA = [
    {
        date: "x | x",
        title: "Lorem Ipsum  − Lorem Ipsum",
        description:
            "Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.",
        link: "",
    },
    {
        date: "x | x",
        title: "Lorem Ipsum  − Lorem Ipsum",
        description:
            "Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.",
        link: "",
    },
    {
        date: "x | x",
        title: "Lorem Ipsum  − Lorem Ipsum",
        description:
            "Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIA.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienciaBase {...experiencie} />
            </li>
        ))
    }
</ol>
