<div class="w-full mx-auto lg:w-[740px] py-40">
    <h1 class="text-white font-bold text-2xl flex flex-row gap-x-4 pb-3">
        Tecnologías
    </h1>

    <section class="rounded bg-white mx-auto flex flex-wrap gap-x-10 p-3">
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/java.svg"
                alt="Java"
                title="Java"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/Php.svg"
                alt="Php"
                title="Php"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/postgresql.svg"
                alt="Postgresql"
                title="Postgresql"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/mariadb.svg"
                alt="mariadb"
                title="mariadb"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/mysql.svg"
                alt="mysql"
                title="mysql"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/sass.svg"
                alt="sass"
                title="sass"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/html5.svg"
                alt="html5"
                title="html5"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/tailwindcss.svg"
                alt="tailwind"
                title="tailwind"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/css.svg"
                alt="css"
                title="css"
            />
        </li>
        <li class="list-none">
            <img
                class="size-12"
                src="../src/components/icons/Skills/python.svg"
                alt="python"
                title="python"
            />
        </li>
    </section>
</div>
