<div
    class="list-none rounded-lg bg-gray-300 mx-auto flex flex-wrap justify-center gap-x-14 gap-y-6 p-3.5 shadow-lg shadow-gray-500"
>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/java.svg"
            alt="java"
            title="java"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/python.svg"
            alt="python"
            title="python"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/Php.svg"
            alt="php"
            title="php"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/postgresql.svg"
            alt="postgresql"
            title="postgresql"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/mariadb.svg"
            alt="mariadb"
            title="mariadb"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/mysql.svg"
            alt="mysql"
            title="mysql"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/git.svg"
            alt="git"
            title="git"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/sass.svg"
            alt="sass"
            title="sass"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/html5.svg"
            alt="html5"
            title="html5"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/tailwindcss.svg"
            alt="tailwind"
            title="tailwind"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/css.svg"
            alt="css"
            title="css"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/javascript.svg"
            alt="javascript"
            title="javascript"
        />
    </li>

    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/bootstrap.svg"
            alt="bootstrap"
            title="bootstrap"
        />
    </li>
    <li>
        <img
            class="size-12 rounded hover:scale-125 transition"
            src="../src/components/icons/Skills/jQuery.svg"
            alt="jQuery"
            title="jQuery"
        />
    </li>
</div>
